name: Build PS1 Game

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unzip Game
        run: unzip TerraFragmentada.zip -d gamefiles

      - name: Prepare Files
        run: |
          mkdir output
          cp -r gamefiles/* output/

      - name: Upload final ZIP
        uses: actions/upload-artifact@v4
        with:
          name: TerraFragmentada-Final
          path: output/
