name: Build PS1 Game

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unzip game
        run: |
          # se o zip está na raiz do repo com esse nome
          unzip -o TerraFragmentada.zip -d gamefiles
          ls -la gamefiles

      - name: Prepare files
        run: |
          # cria pasta de saída e copia os arquivos que você quer empacotar
          mkdir -p output
          # ajusta o caminho segundo como o zip extraiu. Ex: se tinha pasta 'PS1' dentro do zip, troque gamefiles/* por gamefiles/PS1/*
          cp -r gamefiles/* output/ || true
          ls -la output

      - name: Create final zip
        run: |
          # cria um zip final contendo o que está em output
          cd output
          zip -r ../TerraFragmentada-Final.zip . || true
          cd ..
          ls -lh TerraFragmentada-Final.zip

      - name: Upload final ZIP
        uses: actions/upload-artifact@v4
        with:
          name: TerraFragmentada-Final
          path: TerraFragmentada-Final.zip
